---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %} -->
<h3>
  <h3 class="archive__subtitle" style="margin-bottom: 10px; font-size: 1.5em; color: #fff;">About Me</h3>

  <div class="about-me" style="margin-top: 20px; font-size: 0.8em; line-height: 1.6; color: #b3b3b3;">
    <p style="margin-bottom: 10px;">
      I'm currently a second-year undergraduate at Case Western Reserve University pursuing a degree in 
      Electrical & Computer Engineering. I'm seeking summer internship or research opportunities in the 
      defense & medical fields, and my current interests lie in digital and analog circuit design, as 
      well as signal processing.
    </p>
    
    <p style="margin-bottom: 10px;">
      In my free time, I enjoy making all types of coffee & pouring latte art, and cooking Mediterranean dishes.
    </p>
  </div>
</h3>
