---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %} -->
<h3>
  <h3 class="archive__subtitle" style="margin-bottom: 10px; font-size: 1.5em; color: #fff;">About Me</h3>

  <div class="about-me" style="margin-top: 20px; font-size: 1.0em; line-height: 1.6; color: #b3b3b3;">
    <p style="margin-bottom: 10px;">
      I'm currently a BS/MS student at Case Western Reserve University seeking a summer
      internship or co-op opportunity in the field of medical devices or hardware design.
      My interests include digital and analog hardware development and verification.
    </p>
    
    <p style="margin-bottom: 10px;">
      My research interests include haptic interfaces, focused ultrasound stimulation,
      and closed-loop neuromodulation systems.
    </p>

    <p style="margin-bottom: 10px;">
      In my free time, I enjoy strength training––specifically free weight exercises––brewing all types
      of coffee & pouring latte art, and working on my home electronics projects!
    </p>
  </div>
</h3>