---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %} -->
<h3>
  <h3 class="archive__subtitle" style="margin-bottom: 10px; font-size: 1.5em; color: #fff;">About Me</h3>

  <div class="about-me" style="margin-top: 20px; font-size: 0.6em; line-height: 1.6; color: #b3b3b3;">
    <p style="margin-bottom: 10px;">
      Hello! I'm Amit Thusay, a second-year undergraduate pursuing a degree in Electrical & Computer Engineering. 
      I'm passionate about sustainability, digital systems design, and solving real-world problems with innovative engineering solutions.
    </p>
    
    <p style="margin-bottom: 10px;">
      When I'm not working on projects or coursework, I enjoy exploring the outdoors, experimenting with DIY electronics, 
      and learning about new technologies.
    </p>
  </div>
</h3>
